<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/all.css" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
	<title>Coki</title>
</head>

<body>
	<nav class="fixed-top navbar navbar-dark bg-dark navbar-expand-md fixed-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse" id="categorias">
				<div class="navbar-nav mr-auto">
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownMasculino" href="#masculino">Masculino</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="productsPage.html">Calçados</a>
							<a class="dropdown-item" href="productsPage.html">Camisas</a>
							<a class="dropdown-item" href="productsPage.html">Calças</a>
							<a class="dropdown-item" href="productsPage.html">Relógios</a>
							<a class="dropdown-item" href="productsPage.html">Óculos</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownFeminino" href="#feminino">Feminino</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas</a>
							<a class="dropdown-item" href="#oculos">Acessórios</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownInfantil" href="#infantil">Infantil</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas</a>
							<a class="dropdown-item" href="#relogios">Moletons</a>
							<a class="dropdown-item" href="#oculos">Macacões</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownInfantil" href="#esportes">Esportes</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas de Futebol</a>
							<a class="dropdown-item" href="#relogios">Moletons</a>
							<a class="dropdown-item" href="#oculos">Shorts</a>
						</div>
					</div>
				</div>
				<div class="centralizar-horizontalmente centralizar-verticalmente">
					<a class="navbar-brand align-contentcenter" href="index.html">
						<img src="assets/images/Logo.png" style="width: 40px" alt="Coki">
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#categorias"
						aria-controls="categorias" aria-expanded="false" aria-label="Coki">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="navbar-nav">
					<a class="nav-link nav-item" href="HelpPage.html">
						<i class="fas fa-question"></i> Ajuda
					</a>
					<a class="nav-link nav-item" href="#atendimento">
						<i class="fas fa-phone"></i> Atendimento
					</a>
					<a class="nav-link nav-item" href="loginPage.html">
						<i class="fas fa-user"></i> Entrar
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!--Ajuda-->
	<div class="jumbotron jumbotron-fluid container" style="margin-top: 100px;">
		<div class="container">
			<h1 class="display-4">Quem Somos?</h1>
			<p class="lead">Somos uma loja virtual com pouco tempo de mercado mas apresentando um ótimo serviço levando
				até você o melhor da moda sem precisar sair do conforto de sua casa.</p>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid container">
		<div class="container">
			<h1 class="display-4">Dúvidas Frequentes</h1>
			<p class="lead">Existe garantia caso meu produto não chegue até mim?</p>
			<p class="lead">Sim. Existe garantia e a Coki garante a devolução da quantia em até 7 dias úteis após o
				relato do acontecimento.</p>
			<div style="margin-top: 10px;">
				<p class="lead">Quanto a demora da entrega. O que fazer se o pedido demorar mais do que o tempo
					estimado?</p>
				<p class="lead">Caso a entrega esteja atrasada, entre em contato conosco via email ou por nosso número
					de telefone que iremos procurar uma solução para o caso.</p>
			</div>
		</div>
	</div>
	<!-- Rodapé -->
	<div style="background-color: rgba(0,0,0,0.06); margin-left: 4px; margin-top: 20px; display: flex;">
		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Empresas Parceiras</h5>
			<ul>
				<li><i>Nestlé</i></li>
				<li>Bradesco</li>
				<li>Nubank</li>
				<li>Cielo</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Estados</h5>
			<ul>
				<li>Rio de Janeiro</li>
				<li>São Paulo</li>
				<li>Minas Gerais</li>
				<li>Rondônia</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Redes Sociais</h5>
			<ul>
				<li>Twitter</li>
				<li>Facebook</li>
				<li>Instagram</li>
				<li>Snapchat</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Contato</h5>
			<ul>
				<li>Coki</li>
				<li>(11)99999-9999</li>
				<li>coki@gmail.com
				</li>
			</ul>
		</div>
	</div>

	<!--
   <header class="bgimage d-none d-md-block mb-4"></header>
-->
	<script src="assets/js/jquery-3.3.1.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/script.js"></script>
</body>

</html>