<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/all.css" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
	<title>Coki</title>
</head>

<body>
	<nav class="fixed-top navbar navbar-dark bg-dark navbar-expand-md fixed-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse" id="categorias">
				<div class="navbar-nav mr-auto">
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownMasculino" href="#masculino">Masculino</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="productsPage.html">Calçados</a>
							<a class="dropdown-item" href="productsPage.html">Camisas</a>
							<a class="dropdown-item" href="productsPage.html">Calças</a>
							<a class="dropdown-item" href="productsPage.html">Relógios</a>
							<a class="dropdown-item" href="productsPage.html">Óculos</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownFeminino" href="#feminino">Feminino</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas</a>
							<a class="dropdown-item" href="#oculos">Acessórios</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownInfantil" href="#infantil">Infantil</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas</a>
							<a class="dropdown-item" href="#relogios">Moletons</a>
							<a class="dropdown-item" href="#oculos">Macacões</a>
						</div>
					</div>
					<div class="dropdown">
						<a class="btn nav-link nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							id="dropdownInfantil" href="#esportes">Esportes</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu">
							<a class="dropdown-item" href="#calcados">Calçados</a>
							<a class="dropdown-item" href="#calcas">Camisas de Futebol</a>
							<a class="dropdown-item" href="#relogios">Moletons</a>
							<a class="dropdown-item" href="#oculos">Shorts</a>
						</div>
					</div>
				</div>
				<div class="centralizar-horizontalmente centralizar-verticalmente mr-1 ml-5">
					<a class="navbar-brand align-contentcenter" href="index.html">
						<img src="assets/images/Logo.png" style="width: 40px" alt="Coki">
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#categorias"
						aria-controls="categorias" aria-expanded="false" aria-label="Coki">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="navbar-nav">
					<a class="nav-link nav-item" href="HelpPage.html">
						<i class="fas fa-question"></i> Ajuda
					</a>
					<a class="nav-link nav-item" href="#atendimento">
						<i class="fas fa-phone"></i> Atendimento
					</a>
					<a class="nav-link nav-item" href="loginPage.html">
						<i class="fas fa-user"></i> Entrar
					</a>
				</div>
			</div>
		</div>
	</nav>

	<!-- Carrossel -->
	<div style="margin-bottom: 2em;">
		<div class="carousel slide" data-ride="carousel" data-interval="3000" id="carousel-1">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<img class="img-fluid w-100 d-block"
						src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/kanui/images/114dbee4d2546__00_destaque_desk_3_camisetas_149_2.jpg"
						alt="Slide Image">
				</div>
				<div class="carousel-item">
					<img class="img-fluid w-100 d-block"
						src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/kanui/images/bbb6a9d7b108__home_generica_mobile_01.jpg"
						alt="Slide Image">
				</div>
				<div class="carousel-item">
					<img class="img-fluid w-100 d-block"
						src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/kanui/images/36310edc924b0__home_generica_mobile_02-03.jpg"
						alt="Slide Image">
				</div>
			</div>
			<div>
				<a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-1" data-slide-to="1"></li>
				<li data-target="#carousel-1" data-slide-to="2"></li>
			</ol>
		</div>
	</div>

	<!--Corpo-->
	<div style="margin-left: 5%;">
		<header id="header" class="d-none d-md-block mb-4" style="margin-top: 19px;"></header>
		<img src="https://static.kanui.com.br/cms/cat_masculino_camisetas.jpg" alt="">
	</div>
	<div class="container-fluid row" style="margin-top: 20px">
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem;">
				<img src="https://t-static.dafiti.com.br/S2eHDn44T8jCRaFPlVxiE3u1AQ4=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2fvans-camiseta-vans-otw-raglan-branca%252fpreta-0482-8573263-1-product.jpg"
					class="card-img-top" alt="camisa1">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Vans</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 79,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 49,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/gzNOIWUpkm6PfYESyTFPU5FfjI8=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2fvon-dutch--camiseta-von-dutch-los-angeles-calif%25c3%25b3rnia-branca-9365-6560284-1-product.jpg"
					class="card-img-top" alt="camisa2">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Von Dutch</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 89,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 69,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/DisgIs9KqSCKFd43Ri7yg2bib1A=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2fdc-shoes-camiseta-dc-shoes-painted-rock-branca-5582-7404064-1-product.jpg"
					class="card-img-top" alt="">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta DC Dhoes</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 89,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 39,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/yIO9g0Bs-Noc7HkK4kS5tMyACOs=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2frip-curl-camiseta-rip-curl-wave-line-preta-8687-3306664-1-product.jpg"
					class="card-img-top" alt="">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Rip Curl</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 99,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 69,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 container" style="max-width: 1180px; margin-left: 15px; margin-top: 30px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/kanui/images/7a8b74b1e7a1__02_camisetas_desk_4_camisetas_169.jpg"
					class="card-img" width="100px" height="200px" alt="">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text">Se prepare para um novo tempo de Verão com as novas linhas de Camisas da Hang
						Loose e também da Reef. Confira também as outras promoções disponíveis em todo o site. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid row" style="margin-top: 50px">
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem;">
				<img src="https://t-static.dafiti.com.br/eL_W-4ADwBn2F4T42z10x4NMnfs=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2fhurley-camiseta-hurley-block-party-vinho-0983-6202064-1-product.jpg"
					class="card-img-top" alt="camisa1">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Hurley</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 79,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 39,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/RBqexyHKISqvzn3RU8vOwntvn5Y=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2frip-curl-camiseta-rip-curl-split-front-azul-marinho-8393-1106664-1-product.jpg"
					class="card-img-top" alt="camisa2">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Rip Curl</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 99,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 79,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/Bf5xylXz3Eqpc5OxdhEWq46XZVY=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2f...lost-camiseta-...lost-blur-saturno-azul-marinho-8051-5570663-1-product.jpg"
					class="card-img-top" alt="">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta Lost</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 69,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 39,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3" style="max-width: 25%;">
			<div class="card" style="width: 18rem; margin-left: 15px;">
				<img src="https://t-static.dafiti.com.br/OFZLI_J1JBZcRko0W_hPMaUOYhE=/fit-in/427x620/dafitistatic-a.akamaihd.net%2fp%2fdc-shoes-camiseta-dc-shoes-nosed-up-off-white-7863-4804064-1-product.jpg"
					class="card-img-top" alt="">
				<div class="card-body">
					<h6 class="card-title text-center">Camiseta DC Shoes</h6>
					<div class="row">
						<div class="text-center">
							<strike class="price card-text" style="color: darkgray;">
								<h6>R$ 79,99</h6>
							</strike>
							<h5 class="price card-text" style="margin-left: 5px;">R$ 49,99</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Aviso-->
	<div class="alert alert-secondary" style=" margin-top: 10px;" role="alert">
		Tudo certo até aqui!
	</div>
	<!-- Rodapé -->
	<div style="background-color: rgba(0,0,0,0.06); margin-left: 4px; display: flex;">
		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Empresas Parceiras</h5>
			<ul>
				<li><i>Nestlé</i></li>
				<li>Bradesco</li>
				<li>Nubank</li>
				<li>Cielo</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Estados</h5>
			<ul>
				<li>Rio de Janeiro</li>
				<li>São Paulo</li>
				<li>Minas Gerais</li>
				<li>Rondônia</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Redes Sociais</h5>
			<ul>
				<li>Twitter</li>
				<li>Facebook</li>
				<li>Instagram</li>
				<li>Snapchat</li>
			</ul>
		</div>

		<div class="item-rodape">
			<h5 class="text-dark" style="margin-left: 22px;">Contato</h5>
			<ul>
				<li>Coki</li>
				<li>(11)99999-9999</li>
				<li>coki@gmail.com</li>
			</ul>
		</div>
	</div>

	<!--
   <header class="bgimage d-none d-md-block mb-4"></header>
-->
	<script src="assets/js/jquery-3.3.1.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/script.js"></script>
</body>

</html>